examples/pubsub/nodeRed_pubsub_measurement.json
[{"id":"358e490a.033f26","type":"tab","label":"OPC UA PubSub","disabled":false,"info":""},{"id":"282b40da.a43328","type":"OPCUA-IIoT-Inject","z":"358e490a.033f26","injectType":"inject","payload":"1000","payloadType":"num","topic":"","repeat":"","crontab":"","once":false,"startDelay":"","name":"trigger","addressSpaceItems":[],"x":70,"y":100,"wires":[["75f34885.1ea5b"]]},{"id":"75f34885.1ea5b","type":"OPCUA-IIoT-Browser","z":"358e490a.033f26","connector":"1af77dc5.a42192","nodeId":"ns=0;i=14443","name":"Browse PubSub","justValue":false,"sendNodesToRead":true,"sendNodesToListener":false,"sendNodesToBrowser":true,"singleBrowseResult":true,"recursiveBrowse":false,"recursiveDepth":"5","delayPerMessage":0.2,"showStatusActivities":false,"showErrors":false,"x":240,"y":100,"wires":[["57bfd3b2.187b84"]]},{"id":"57bfd3b2.187b84","type":"OPCUA-IIoT-Response","z":"358e490a.033f26","name":"Find Con","compressStructure":false,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":true,"negateFilter":false,"filters":[{"name":"browseName","value":"UDP-UADP Connection 1"}],"x":450,"y":100,"wires":[["86561559.b1d42"]]},{"id":"adb2a1bd.0e6828","type":"OPCUA-IIoT-Browser","z":"358e490a.033f26","connector":"1af77dc5.a42192","nodeId":"","name":"Browse Con","justValue":false,"sendNodesToRead":false,"sendNodesToListener":false,"sendNodesToBrowser":false,"singleBrowseResult":false,"recursiveBrowse":false,"recursiveDepth":1,"delayPerMessage":0.2,"showStatusActivities":false,"showErrors":false,"x":930,"y":100,"wires":[["78338002.8b00f","253aa4a0.5609cc"]]},{"id":"78338002.8b00f","type":"debug","z":"358e490a.033f26","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":40,"wires":[]},{"id":"86561559.b1d42","type":"function","z":"358e490a.033f26","name":"set Con as browse point","func":"//msg.nodesToRead = [];\n//msg.nodesToRead.push(msg.payload[0].nodeId);\n//return msg;\nlet tmp = msg.payload[0];\nmsg.addressItemsToBrowse = [];\nmsg.addressItemsToBrowse.push(tmp);\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":100,"wires":[["adb2a1bd.0e6828"]]},{"id":"253aa4a0.5609cc","type":"OPCUA-IIoT-Response","z":"358e490a.033f26","name":"Find WG","compressStructure":false,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":true,"negateFilter":false,"filters":[{"name":"browseName","value":"Demo WriterGroup"}],"x":210,"y":260,"wires":[["4ed85f17.52d998","f0156346.e8c01"]]},{"id":"429192f0.4509ec","type":"OPCUA-IIoT-Browser","z":"358e490a.033f26","connector":"1af77dc5.a42192","nodeId":"","name":"Browse WG","justValue":false,"sendNodesToRead":false,"sendNodesToListener":false,"sendNodesToBrowser":false,"singleBrowseResult":false,"recursiveBrowse":false,"recursiveDepth":1,"delayPerMessage":0.2,"showStatusActivities":false,"showErrors":false,"x":730,"y":260,"wires":[["2e5e1ea6.f75f42"]]},{"id":"2e5e1ea6.f75f42","type":"OPCUA-IIoT-Response","z":"358e490a.033f26","name":"Find Interval","compressStructure":false,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":true,"negateFilter":false,"filters":[{"name":"browseName","value":"PublishingInterval"}],"x":920,"y":260,"wires":[["27c15a15.211e6e","d35ccf17.55d678"]]},{"id":"4ed85f17.52d998","type":"debug","z":"358e490a.033f26","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":300,"wires":[]},{"id":"f0156346.e8c01","type":"function","z":"358e490a.033f26","name":"set WG as browse point","func":"let tmp = msg.payload[0];\nmsg.addressItemsToBrowse = [];\nmsg.addressItemsToBrowse.push(tmp);\nreturn msg;\n","outputs":1,"noerr":0,"x":490,"y":260,"wires":[["429192f0.4509ec"]]},{"id":"27c15a15.211e6e","type":"debug","z":"358e490a.033f26","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":180,"wires":[]},{"id":"88707ecc.7b81b8","type":"OPCUA-IIoT-Write","z":"358e490a.033f26","connector":"1af77dc5.a42192","name":"write publish interval","justValue":true,"showStatusActivities":false,"showErrors":true,"x":640,"y":400,"wires":[["61f35b69.fe81a4"]]},{"id":"61f35b69.fe81a4","type":"OPCUA-IIoT-Response","z":"358e490a.033f26","name":"","compressStructure":false,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":false,"negateFilter":false,"filters":[],"x":930,"y":400,"wires":[["debb038d.014618","8e722376.9ac4d8"]]},{"id":"b233e711.0654e8","type":"debug","z":"358e490a.033f26","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1070,"y":340,"wires":[]},{"id":"debb038d.014618","type":"debug","z":"358e490a.033f26","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":400,"wires":[]},{"id":"d35ccf17.55d678","type":"function","z":"358e490a.033f26","name":"Set publish interval","func":"msg.addressSpaceItems = msg.payload;\nmsg.nodetype=\"inject\"\nmsg.injectType=\"write\"\nmsg.addressSpaceItems[0].datatypeName = \"Double\";\nmsg.payload = msg.buttons.tf_interval/1000;\n\n//msg.valuesToWrite = [];\n//msg.valuesToWrite.push(1234);\nreturn msg;\n","outputs":1,"noerr":0,"x":250,"y":400,"wires":[["88707ecc.7b81b8","b233e711.0654e8"]]},{"id":"1f2c4ff7.529c48","type":"csv","z":"358e490a.033f26","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"1","x":530,"y":700,"wires":[["c029f3d4.e413c8"]]},{"id":"93f4165e.d36c","type":"file in","z":"358e490a.033f26","name":"measurement input","filename":"/home/developer/projects/open62541-fork/cmake-build-debug/bin/examples/publisher_measurement.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":310,"y":700,"wires":[["1f2c4ff7.529c48","e57aac33.19df28"]]},{"id":"15a6c8c6.ec6077","type":"inject","z":"358e490a.033f26","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":700,"wires":[["93f4165e.d36c"]]},{"id":"c029f3d4.e413c8","type":"function","z":"358e490a.033f26","name":"calculations","func":"msg.publishCallbackTime = [];\nmsg.diffToCalculatedStartTime = [];\nmsg.cycleTime;\nmsg.statistics = {};\n\nmsg.statistics.currentCycleTime = msg.payload[0].col2/1000;\n\nfor(let i = 0; i < msg.payload.length; i++){\n    msg.payload[i].col6 = msg.payload[i].col4-msg.payload[i].col3;\n    //convert to milli seconds\n    msg.payload[i].col6 = msg.payload[i].col6*1000;\n    //convert to micro seconds\n    msg.payload[i].col6 = msg.payload[i].col6*1000;\n    msg.diffToCalculatedStartTime.push(msg.payload[i].col6 + msg.statistics.currentCycleTime);\n    \n    msg.payload[i].col7 = msg.payload[i].col5-msg.payload[i].col4;\n    msg.payload[i].col7 = msg.payload[i].col7*1000;\n    //convert to micro seconds\n    msg.payload[i].col7 = msg.payload[i].col7*1000;\n    msg.publishCallbackTime.push(msg.payload[i].col7);\n}\nmsg.statistics.publishCallbackTimeMax = Math.round(Math.max(...msg.publishCallbackTime));\nmsg.statistics.publishCallbackTimeMaxIndex = msg.publishCallbackTime.indexOf(Math.max(...msg.publishCallbackTime));\nmsg.statistics.publishCallbackTimeMin = Math.round(Math.min(...msg.publishCallbackTime));\nlet average = (array) => array.reduce((a, b) => a + b) / array.length;\nmsg.statistics.publishCallbackTimeAverage = Math.round(average(msg.publishCallbackTime));\nmsg.statistics.publishIrqDelayMax = Math.round(Math.max(...msg.diffToCalculatedStartTime));\n\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":700,"wires":[["eb7449f8.87fdd8","aeb2e1ca.25ba38","9b55571a.815248","691fa9bd.2a86e8","9b89e182.126908","d8fc9cb6.deffe","dcb7b8ba.9b0e28","8d43da35.74187"]]},{"id":"eb7449f8.87fdd8","type":"ui_gauge","z":"358e490a.033f26","name":"","group":"c2cd0261.a4a1c","order":3,"width":"0","height":"0","gtype":"gage","title":"MaxPublishCallbackRuntime","label":"Microseconds","format":"{{msg.statistics.publishCallbackTimeMax}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1040,"y":800,"wires":[]},{"id":"aeb2e1ca.25ba38","type":"function","z":"358e490a.033f26","name":"chart prepaire","func":"/*\nmsg.payload = {}\nmsg.payload.series = [\"X\"];\nmsg.payload.data = msg.publishCallbackTime;\nmsg.payload.labels = [\"X\"];\n*/\n\n//msg.payload = msg.publishCallbackTime;\n \n//msg = {topic:\"temperature\", payload:[1,2,3,4,5,6,7]}\n\nvar tmp = msg.publishCallbackTime;\nmsg.payload = [{\n    topic:\"temperature\",\n    \"series\": [\"PublishCallbackTime\"],\n    \"data\": [[]],\n    \"labels\": [ \"Timeing\"]\n}];\n\n//msg.payload[0].data[0] = msg.publishCallbackTime;\n\nfor(var i = 0; i < msg.publishCallbackTime.length; i++){\n    msg.payload[0].data[0].push({\"x\":i,\"y\":msg.publishCallbackTime[i]});\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":680,"wires":[["e0cbce6e.c68568","fb791412.9d0258"]]},{"id":"e0cbce6e.c68568","type":"debug","z":"358e490a.033f26","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1190,"y":620,"wires":[]},{"id":"fb791412.9d0258","type":"ui_chart","z":"358e490a.033f26","name":"","group":"d97f4d7d.3b5bd","order":1,"width":0,"height":0,"label":"Publish callback time consumption [Microseconds]","chartType":"line","legend":"false","xformat":"x","interpolate":"linear","nodata":"Waiting for data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1470,"y":680,"wires":[[]]},{"id":"9b55571a.815248","type":"ui_gauge","z":"358e490a.033f26","name":"","group":"c2cd0261.a4a1c","order":1,"width":0,"height":0,"gtype":"gage","title":"MinPublishCallbackRuntime","label":"Microseconds","format":"{{msg.statistics.publishCallbackTimeMin}}","min":0,"max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1040,"y":880,"wires":[]},{"id":"691fa9bd.2a86e8","type":"ui_gauge","z":"358e490a.033f26","name":"","group":"c2cd0261.a4a1c","order":2,"width":0,"height":0,"gtype":"gage","title":"AveragePublishCallbackRuntime","label":"Microseconds","format":"{{msg.statistics.publishCallbackTimeAverage}}","min":0,"max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1060,"y":840,"wires":[]},{"id":"9b89e182.126908","type":"ui_text","z":"358e490a.033f26","group":"9342eef5.eb44c","order":1,"width":0,"height":0,"name":"","label":"Current cycle Time [Microseconds]","format":"{{msg.statistics.currentCycleTime}}","layout":"row-spread","x":1060,"y":1000,"wires":[]},{"id":"d8b7dfbe.45f1","type":"ui_text_input","z":"358e490a.033f26","name":"interval","label":"Publish interval [Microseconds]","tooltip":"","group":"9342eef5.eb44c","order":4,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"tf_interval","x":980,"y":1140,"wires":[["3bbdb72d.4b83d8"]]},{"id":"fed47c73.bccf4","type":"ui_text_input","z":"358e490a.033f26","name":"","label":"Publish cycles","tooltip":"10000","group":"9342eef5.eb44c","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"tf_cycles","x":1000,"y":1200,"wires":[["3bbdb72d.4b83d8"]]},{"id":"f8acfa13.d4ad08","type":"ui_button","z":"358e490a.033f26","name":"","group":"9342eef5.eb44c","order":6,"width":0,"height":0,"passthru":false,"label":"Start Measurement","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"btn_measurement","x":710,"y":1280,"wires":[["638783df.895844"]]},{"id":"63c695e0.1d88dc","type":"ui_chart","z":"358e490a.033f26","name":"","group":"d97f4d7d.3b5bd","order":1,"width":0,"height":0,"label":"Publish callback interrupt delay [Microseconds]","chartType":"line","legend":"false","xformat":"x","interpolate":"linear","nodata":"Waiting for data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ffe600","#2771d3","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1460,"y":740,"wires":[[]]},{"id":"d8fc9cb6.deffe","type":"function","z":"358e490a.033f26","name":"chart prepaire","func":"/*\nmsg.payload = {}\nmsg.payload.series = [\"X\"];\nmsg.payload.data = msg.publishCallbackTime;\nmsg.payload.labels = [\"X\"];\n*/\n\n//msg.payload = msg.publishCallbackTime;\n \n//msg = {topic:\"temperature\", payload:[1,2,3,4,5,6,7]}\n\nvar tmp = msg.publishCallbackTime;\nmsg.payload = [{\n    \"series\": [\"CalculatedStartTime\", \"StartTime\"],\n    \"data\": [[], []],\n    \"labels\": [ \"CalculatedStartTime\", \"StartTime\"]\n}];\n\n//msg.payload[0].data[0] = msg.publishCallbackTime;\n\nfor(var i = 0; i < msg.publishCallbackTime.length; i++){\n msg.payload[0].data[0].push({\"x\":i,\"y\":msg.statistics.currentCycleTime});\n msg.payload[0].data[1].push({\"x\":i,\"y\":msg.diffToCalculatedStartTime[i]});\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":740,"wires":[["63c695e0.1d88dc"]]},{"id":"3bbdb72d.4b83d8","type":"join","z":"358e490a.033f26","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1250,"y":1160,"wires":[["f29700b7.cc953","4bd39479.9a3104"]]},{"id":"638783df.895844","type":"function","z":"358e490a.033f26","name":"set msg complete state","func":"msg.complete = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1280,"wires":[["3bbdb72d.4b83d8"]]},{"id":"3acb0047.f4bb3","type":"function","z":"358e490a.033f26","name":"set input fields to default","func":"msg.payload = 1000;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1180,"wires":[["d8b7dfbe.45f1","fed47c73.bccf4"]]},{"id":"e815bb88.e1a8b","type":"link in","z":"358e490a.033f26","name":"","links":["74eb30e4.d386","d70d2088.82e218"],"x":15,"y":160,"wires":[["75f34885.1ea5b","ea7755f3.981c28"]]},{"id":"f29700b7.cc953","type":"debug","z":"358e490a.033f26","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1400,"y":1000,"wires":[]},{"id":"4bd39479.9a3104","type":"function","z":"358e490a.033f26","name":"move button content","func":"if(!msg.payload.tf_interval){\n    msg.payload.tf_interval = 1000;\n}\nif(!msg.payload.tf_cycles){\n    msg.payload.tf_cycles = 1000;\n}\n\nmsg.statistics = {}\nmsg.statistics.currentCycleTime = msg.payload.tf_interval;\nmsg.statistics.currentCycles = msg.payload.tf_cycles;\n\n\nmsg.buttons = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1480,"y":1160,"wires":[["d70d2088.82e218","3acb0047.f4bb3","9b89e182.126908","562c436e.7c8bfc"]]},{"id":"d70d2088.82e218","type":"link out","z":"358e490a.033f26","name":"","links":["e815bb88.e1a8b"],"x":1675,"y":1160,"wires":[]},{"id":"562c436e.7c8bfc","type":"ui_text","z":"358e490a.033f26","group":"9342eef5.eb44c","order":1,"width":0,"height":0,"name":"","label":"Current cycles","format":"{{msg.statistics.currentCycles}}","layout":"row-spread","x":1000,"y":1060,"wires":[]},{"id":"2145d497.341bfc","type":"OPCUA-IIoT-Write","z":"358e490a.033f26","connector":"1af77dc5.a42192","name":"","justValue":true,"showStatusActivities":false,"showErrors":true,"x":550,"y":160,"wires":[["99265401.29ffa8"]]},{"id":"ea7755f3.981c28","type":"OPCUA-IIoT-Node","z":"358e490a.033f26","injectType":"write","nodeId":"ns=1;s=cycles","datatype":"UInt64","value":"","name":"","topic":"","showErrors":false,"x":210,"y":160,"wires":[["92f02a2b.997558"]]},{"id":"92f02a2b.997558","type":"function","z":"358e490a.033f26","name":"Set cycles","func":"msg.nodetype=\"inject\"\nmsg.injectType=\"write\"\nmsg.addressSpaceItems[0].datatypeName = \"UInt64\";\n\nmsg.valuesToWrite = [msg.buttons.tf_cycles];\n//msg.valuesToWrite.push(1234);\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":160,"wires":[["2145d497.341bfc"]]},{"id":"99265401.29ffa8","type":"OPCUA-IIoT-Response","z":"358e490a.033f26","name":"","compressStructure":false,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":false,"negateFilter":false,"filters":[],"x":710,"y":160,"wires":[["5dbe319f.a20b4"]]},{"id":"5dbe319f.a20b4","type":"debug","z":"358e490a.033f26","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":160,"wires":[]},{"id":"8e722376.9ac4d8","type":"delay","z":"358e490a.033f26","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":100,"y":620,"wires":[["93f4165e.d36c","44881a33.7e6404"]]},{"id":"44881a33.7e6404","type":"debug","z":"358e490a.033f26","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":360,"y":620,"wires":[]},{"id":"e57aac33.19df28","type":"debug","z":"358e490a.033f26","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":660,"wires":[]},{"id":"dcb7b8ba.9b0e28","type":"debug","z":"358e490a.033f26","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1320,"y":820,"wires":[]},{"id":"8d43da35.74187","type":"ui_gauge","z":"358e490a.033f26","name":"","group":"c2cd0261.a4a1c","order":4,"width":0,"height":0,"gtype":"gage","title":"MaxPublishIRQDelay","label":"Microseconds","format":"{{msg.statistics.publishIrqDelayMax}}","min":0,"max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1020,"y":920,"wires":[]},{"id":"1af77dc5.a42192","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://developer-ThinkPad-T440s:4840/","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"open62541","showErrors":false,"individualCerts":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":"","maxBadSessionRequests":"10"},{"id":"c2cd0261.a4a1c","type":"ui_group","z":"","name":"Callback Runtime","tab":"456d1d78.bb190c","order":3,"disp":true,"width":"6","collapse":false},{"id":"d97f4d7d.3b5bd","type":"ui_group","z":"","name":"PublishCallbackTimes","tab":"456d1d78.bb190c","order":4,"disp":true,"width":"14","collapse":false},{"id":"9342eef5.eb44c","type":"ui_group","z":"","name":"Measurement Settings","tab":"456d1d78.bb190c","order":1,"disp":true,"width":"6","collapse":false},{"id":"456d1d78.bb190c","type":"ui_tab","z":"","name":"PubSub Measurement","icon":"dashboard","disabled":false,"hidden":false}]